main{
  height: 500px;
  background-image:url(../images/blackaesthetic.png);
  background-repeat: no-repeat;
  background-position: center;
}
.jumbotron{
  text-align: center;
  background-color: #80a1d4;
  color: #f7f4ea;
  font-family: 'Courier New', Courier, monospace;
  border:#f7f4ea 1px solid ;
}
pre{
  font-weight: bold;
  font-size: large;
  text-align: left;
}
body{
  background-color: #c0b9dd;
}
h3{
  text-align: center;
  font-weight: bold;
}
.col-sm{
  border: #f7f4ea solid 1px ;
  padding: 13px;
  margin: 52px;
  background-color: #d3c1e2;
  border-radius: 10px;
}
.box{
  text-align: center;
  border: 1px solid #f7f4ea;
  padding: 15px;
  background-color: #d3c1e2;
  margin: 20px;
  border-radius: 10px;
}