main{
  height: 500px;
  background-image:url(../images/IMG_1339.jpg);
  background-repeat: no-repeat;
  background-position: center;

}
.jumbotron{
  text-align: center;
  background-color: #80a1d4;
  color: #f7f4ea;
  font-family: 'Courier New', Courier, monospace;
}

pre{
  font-weight: bold;
  font-size: large;
  text-align: left;
}
body{
  background-color: #c0b9dd;
}
h3{
  text-align: center;
  font-weight: bold;
}
.col-sm-3{
  border: black solid 1px ;
  padding: 13px;
  margin: 52px;
  background-color: #d3c1e2;
  border-radius: 10px;
  
}